body{
  background-color: white;
}
.blog-wrap {
  margin: 80px 0 0px;
}

.blog-goBack {
  text-decoration: none;
  font-size: 1.2rem;
  color: #2289FF;
  font-weight: 500;
  margin: 30px 0 24px;
  margin-right:10px;
}
.blog-title{
  font-size: 1.5rem;
  font-weight:300;
  text-align: center;
}

.blog-date {
  font-size: 1rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-top:10px
}

.ChipBlogCard , .ChipBlog{
  background: rgba(70, 70, 70, 0.56)!important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.7px);
  -webkit-backdrop-filter: blur(14.7px);
  border: 1px solid rgba(70, 70, 70, 0.3);
}
  .ChipBlog{
    padding:8px 8px !important;
    margin:5px 3px 0 0;
  }